In [28]:
import pandas as pd

In [29]:
# Data Load
csv_path = '../../../data/raw/mouvements_stock_fictifs.csv'
data = pd.read_csv(csv_path)
data.head()

         date product_name  quantity type_movement
0  2015-07-27       Banane       626        import
1  2015-07-29       Banane       643        import
2  2015-07-31         Lait       671        import
3  2015-07-31       Banane       295        import
4  2015-07-31       Banane      -454        export

In [30]:
# Data Preprocessing
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4918 non-null   object
 1   product_name   4918 non-null   object
 2   quantity       4918 non-null   int64
 3   type_movement  4918 non-null   object
dtypes: int64(1), object(3)
memory usage: 153.8+ KB

In [31]:
# Nettoyage des donn√©es
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data['quantity'] = pd.to_numeric(data['quantity'], errors='coerce')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4918 non-null   datetime64[ns]
 1   product_name   4918 non-null   object
 2   quantity       4918 non-null   int64
 3   type_movement  4918 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 153.8+ KB

In [32]:
table = pd.pivot_table(data, values='quantity', index='date',
                       columns=['product_name'], aggfunc="sum")
table = table.fillna(0)
table

product_name,Ananas,Banane,Carotte,Courgette,Lait,Letchi,Poivron,Pomme,Tomate
date,,,,,,,,,
2015-07-27,0.0,626.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-07-29,0.0,643.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-07-31,0.0,-159.0,0.0,0.0,671.0,0.0,0.0,0.0,0.0
2015-08-01,0.0,0.0,-512.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-08-02,0.0,0.0,-57.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2025-07-18,0.0,0.0,-620.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-07-19,0.0,0.0,-897.0,0.0,219.0,0.0,0.0,0.0,0.0
2025-07-20,0.0,1174.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-07-22,0.0,0.0,522.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-07-24,0.0,-479.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
import os

# Cr√©ation du dossier de sortie si besoin
output_dir = os.path.join(os.getcwd(), '../../../data/processed')
os.makedirs(output_dir, exist_ok=True)

# Export the cleaned data
data.to_csv(os.path.join(output_dir, 'mouvements_stock_fictifs_cleaned.csv'), index=False)
table.to_csv(os.path.join(output_dir, 'pivot_table.csv'), index=True)